@model IEnumerable<CP3.MVC.Application.Dtos.BarcoDto>

<h1>Lista de Barcos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Barco</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Tamanho</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Modelo</td>
                <td>@item.Ano</td>
                <td>@item.Tamanho</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
